/* Css file for editor back-end */

/**
* Textbox content customization
*
*/
.textbox, .bcc-box {
  border-style: none;
	}

.textbox, .bcc-box {
  padding: 0;
  margin: 0;
	}

div.textbox div.textbox__content{
  color: black;
  background-color: #F1F1F1; /* Pressbooks/WP grey color */
}

h2 { border-bottom: 2px solid rgba(53,86,129, 0.3);	}
