/* Css file for editor back-end */

/**
* Textbox content customization
*
*/
.textbox, .bcc-box {
  border-style: none;
	}

.textbox, .bcc-box {
  padding: 0;
  margin: 0;
	}

div.textbox div.textbox__content{
  /* color: black; */
  background-color: #F1F1F1; /* Pressbooks/WP grey color */
}

h2 {
  border-bottom: 4px solid black;
  background-color: #a8a8a8 !important;
 }

.textbox h3 {
  background-color: #c0c0c0 !important;
 }


.textbox h4 {
  background-color: #d8d8d8 !important;
  }
